<mat-card class="song-card" (click)="onCardClick()">
  <mat-card-content class="song-card-content">
    <div class="song-details">
      <h3 class="song-title">{{ song().song_details.title }}</h3>
      <p class="song-composer">{{ song().song_details.composer }}</p>
    </div>

    <div class="song-actions">
      <ng-content></ng-content>
    </div>
  </mat-card-content>

  <mat-card-footer class="song-card-footer">
    <small class="song-added-date"> Added {{ song().added_at | date: 'short' }} </small>
  </mat-card-footer>
</mat-card>
