@use '@angular/material' as mat;

/* Light Theme - Azure & Blue */
:root {
  color-scheme: light;
  @include mat.theme(
    (
      color: (
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );
}

/* Dark Theme - Cyan & Orange */
.dark {
  color-scheme: dark;
  @include mat.theme(
    (
      color: (
        primary: mat.$cyan-palette,
        tertiary: mat.$orange-palette,
        theme-type: dark,
      ),
      typography: Roboto,
      density: 0,
    )
  );
}
