@use '@angular/material' as mat;

$light-theme-colors: (
  primary: #0f6681,
  surface-tint: #0f6681,
  on-primary: #ffffff,
  primary-container: #bce9ff,
  on-primary-container: #004d63,
  secondary: #4d616b,
  on-secondary: #ffffff,
  secondary-container: #cfe6f2,
  on-secondary-container: #354b53,
  tertiary: #5c5b7d,
  on-tertiary: #ffffff,
  tertiary-container: #e2dfff,
  on-tertiary-container: #444360,
  error: #ba1a1a,
  on-error: #ffffff,
  error-container: #ffdada,
  on-error-container: #93000a,
  background: #f5fafd,
  on-background: #171c1f,
  surface: #f5fafd,
  on-surface: #171c1f,
  surface-variant: #dce4e9,
  on-surface-variant: #40484c,
  outline: #70787d,
  outline-variant: #c0c8cc,
  inverse-surface: #2c3134,
  inverse-on-surface: #edf1f5,
  inverse-primary: #8ad0ee,
  surface-dim: #d6dbde,
  surface-bright: #f5fafd,
  surface-container-lowest: #ffffff,
  surface-container-low: #f0f4f8,
  surface-container: #eaeef2,
  surface-container-high: #e4e9ec,
  surface-container-highest: #dee3e6,
  shadow: #000000,
  scrim: #000000,
);

$dark-theme-colors: (
  primary: #8ad0ee,
  surface-tint: #8ad0ee,
  on-primary: #003545,
  primary-container: #004d63,
  on-primary-container: #bce9ff,
  secondary: #b4cad5,
  on-secondary: #1e333c,
  secondary-container: #354b53,
  on-secondary-container: #cfe6f2,
  tertiary: #c5c3ea,
  on-tertiary: #2e2d4d,
  tertiary-container: #444360,
  on-tertiary-container: #e2dfff,
  error: #ffb4ab,
  on-error: #690005,
  error-container: #93000a,
  on-error-container: #ffdad6,
  background: #0f1417,
  on-background: #dee3e6,
  surface: #0f1417,
  on-surface: #dee3e6,
  surface-variant: #40484c,
  on-surface-variant: #c0c8cc,
  outline: #8a9296,
  outline-variant: #40484c,
  inverse-surface: #dee3e6,
  inverse-on-surface: #2c3134,
  inverse-primary: #0f6681,
  primary-fixed: #bce9ff,
  on-primary-fixed: #001f29,
  primary-fixed-dim: #8ad0ee,
  on-primary-fixed-variant: #004d63,
  secondary-fixed: #cfe6f2,
  on-secondary-fixed: #081e27,
  secondary-fixed-dim: #b4cad5,
  on-secondary-fixed-variant: #354b53,
  tertiary-fixed: #e2dfff,
  on-tertiary-fixed: #191836,
  tertiary-fixed-dim: #c5c3ea,
  on-tertiary-fixed-variant: #444360,
  surface-dim: #0f1417,
  surface-bright: #353a3d,
  surface-container-lowest: #0a0f11,
  surface-container-low: #171c1f,
  surface-container: #1b2023,
  surface-container-high: #262b2d,
  surface-container-highest: #303538,
  shadow: #000000,
  scrim: #000000,
);

/* Light Theme */
:root,
host {
  color-scheme: light;
  @include mat.theme(
    (
      typography: Roboto,
      density: 0,
    )
  );
  @include mat.theme-overrides($light-theme-colors);
}

/* Dark Theme */
.dark {
  color-scheme: dark;
  @include mat.theme(
    (
      color: (
        theme-type: dark,
      ),
      typography: Roboto,
      density: 0,
    )
  );
  @include mat.theme-overrides($dark-theme-colors);
}
